
.mt-2px {
    margin-top: 2px;
}

.mt-0_5 {
    margin-top: 0.5rem;
}
.mt-0_75 {
    margin-top: 0.75rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-1_5 {
    margin-top: 1.5rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mt-5 {
    margin-top: 5rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.ml-5px {
    margin-left: 5px;
}

